body, input, button, p, li, h1, h2, h3, h4, h5, h6, textarea {
  font-family: "Source Sans Pro", sans-serif;
}

a:link, a:visited, a:active {
  color: #333;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: black;
}

* {
  word-wrap: break-word;
}


pre {
    height: auto;
    max-height: 200px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  margin-top: .35ex;
}

p {
  margin-top: .35ex;
}

hr {
  border: solid #eee;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-bottom: .9em;
}

.screen {
  width: 100%;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow-y: hidden;
  background: #f5f5f5;
}

.column {
  display: flex;
  flex-direction: column;
  min-height:0px;
}

.row {
  display: flex;
  flex-direction: row;
  min-height:0px;
}

.end {
  justify-content: flex-end;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-shrink {
  flex-shrink: 0;
}

.expand {
  justify-content: space-between;
}

.scroll-y {
  overflow-y: auto;
  min-height: 0px;
}

.scroll-x {
  overflow-x: auto;
  min-width: 0px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wide {
  width: 100%;
}

/* scrolling feeds, threads */

.scroller {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.scroller__wrapper {
}

/* compose */

.compose {
  margin-bottom: .5em;
  width: 95%;
}

.compose__controls {
  margin-top: .2em;
}

input, textarea {
  border: 1px solid #eee;
}

textarea {
  font-size: 1em;
}

/* messages */

.message {
  border: 1px solid #eee;
  position: relative;
  flex-basis: 0;
  padding: .5em;
  margin-top: .2em;
  background: white;
}

.message_content {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 3px;
}

.message_content--mini div > span {
  display: inline-block;
}

.message_meta {
  margin-left: auto;
}

.message_meta > * {
  margin-left: .5ex;
}

.message_actions {
  float: right;
}

.message img {
  max-width: 100%;
}

.message > .title > .avatar {
  margin-left: 0;
}

.message_content {
  padding: .5ex;
}

.actions > :not(:last-child) {
  border-right: 2px solid #eee;
  padding-right: 5px;
}

.emoji {
  height: 1em;
  width: 1em;
  vertical-align: top;
}


/* -- suggest box */

.suggest-box > * {
  display: block;
}

.suggest-box ul {
  padding: 0;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.suggest-box .selected {
  background: #ddd;
}

.suggest-box {
  width: max-content;
  background: white;
}

/* emoji */
.suggest-box img {
  height: 20px;
  width: 20px;
}

/* avatar */

.avatar--profile {
  width: 5em;
  height: 5em;
  float: left;
}

.avatar--full {
  width: 100%;
  border-radius: 5px;
}

.avatar--large {
  width: 3.5em;
  height: 3.5em;
  border-radius: 5px;
}

.avatar--thumbnail {
  width: 2.5em;
  height: 2.5em;
  float: left;
  margin-right: .5ex;
  border-radius: 5px;
}

.avatar--tiny {
  margin-top: 7px;
  width: 20px;
  height: 20px;
  border-radius: 1px;
}

.avatar--fullsize {
  width: 50%;
  border-radius: 5px;
}

.profile {
  padding: .5ex;
}

.profile__info {
  margin-left: .5em;
}

/* lightbox - used in message-confirm */

.lightbox {
  overflow: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 90%;
  max-width: 600px;
  z-index: 5;
}

/* searchprompt */

.searchprompt {
  margin-top: 1px;
  margin-bottom: 1px;
  float: left;
  padding: .5em;
  width: 85%;
}

.header__search {
  position: absolute;
  bottom: .5em;
  left: .5em;
}

.header__profile {
  margin: .7em;
}

/* TextNodeSearcher highlights */

.highlight {
  background: yellow;
}

/* avatar editor */

.hypercrop__canvas {
  width: 100%;
}

/* gitssb */

.git-table-wrapper {
  max-height: 12em;
  overflow: auto;
  word-break: break-all;
  margin: 1em 0;
}

.git-table-wrapper table {
  width: 100%;
}

/* --- network status --- */

.status {
  width: 1em;
  height: 1em;
  margin: .5em;
  background: green;
}

.error {
  background: red;
}

/* tabs */

.left {
  position: fixed;
  left: 0;
  width: 25%;
  height: 100%;
  background: #f5f5f5;
}

.hypertabs__content {
  margin-left: auto;
  width: 75%;
}

/* --- hypertabs ------- */

.hypertabs__tabs {
  min-width: 0px;
  width: 100%;
  border-radius 2px;
}

.hypertabs__tab {
  overflow-x: hidden;
  min-width: 0px;
  border: 1px solid #eee;
  margin-top: -1px;
  background: white;
}

.hypertabs__tab:hover {
  background: #f5f5f5;
  color: black;
}

.hypertabs__button {
  overflow-x: hidden;
  min-width: 0px;
  width: 100%;
  padding-left: 1em;
}

.hypertabs__tab {
  color: black;
  border-top-left-radius: 5px;
  margin-left: -3px;
  padding-top: .5em;
  border-left: 1px solid #ccc;
  width: 100%;
  height: 1.5em;
}

.hypertabs__tab > a {
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  font-size: .9em;
}

.hypertabs--selected {
  font-weight: bold;
  background: #f5f5f5;
  border-top-right-radius: 5px;
  z-index: 3;
}

.hypertabs__x  {
  display: none; 
  transform: translate(-4px, -2px);
}

.hypertabs--selected .hypertabs__x {
  display: block;
}

/* progress bar */

.hyperprogress__bar {
  background: darkgrey;
}
.hyperprogress__liquid {
  background: lightblue;
}


